.search-component {
  max-width: 680px;
  display: flex;
  justify-content: space-between;
  margin: $spacing-xxl auto;
  margin-top: 0;
  .input-search {
    position: relative;
    border: 1px solid $primary;
    border-radius: 10px;
    display: flex;
    margin-right: $spacing-s;
    min-width: 300px;
    .icon {
      position: absolute;
      left: $spacing-s;
      top: 9px;
      color: $primary;
    }
    input {
      padding: $spacing-s $spacing-xxl;
      border: none;
      border-radius: 10px;
      color: $primary-text;
      width: 100%;
      &:focus,
      &:active {
        border: none;
        outline: none;
      }
    }
  }
  .country, 
  .category {
    margin-right: $spacing-s;
  }
}

@media screen and (max-width: 740px) {
  .search-component {
    flex-direction: column;
    .input-search {
      margin-bottom: $spacing-s;
      margin-right: 0;
    }
    .country {
      margin: $spacing-s 0;
    }
    .category,
    .country {
      margin-right: 0;
      padding: $spacing-s;
    }
  }
}