.primary-btn,
.secondary-btn,
.tertiary-btn {
  outline: none;
  border-radius: 10px;
  padding: $spacing-s;
}

.primary-btn {
  background-color: $primary;
  border: none;
  color: $white;
  cursor: pointer;
  &:active {
    box-shadow: inset 0px 0px 2px 4px $primary-text;
  }
}