//here i did not need other variants of the button style, but if I had this is how it would be handled
.primary-btn,
.secondary-btn,
.tertiary-btn {
  outline: none;
  border-radius: 10px;
  padding: $spacing-s $spacing-l;
}

.primary-btn {
  background-color: $primary;
  border: none;
  color: $white;
  cursor: pointer;
  &:active {
    box-shadow: inset 0px 0px 2px 4px $primary-text;
  }
}