// variables
@import './variables/colors.scss';
@import './variables/spacing.scss';

// views
@import './views/home.scss';

//components
@import './components/search-component.scss';
@import './components/the-article.scss';
@import './components/loading-spinner.scss';

// misc 
@import './misc/buttons.scss';

// global
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $primary-text;
}

body {
  background-color: $bg;
  margin: 0;
}

nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: $tertiary;
    text-decoration: none;

    &.router-link-exact-active {
      color: $primary-text;
    }
  }
}

select {
  border-radius: 10px;
  padding-left: $spacing-xs;
  &:active,
  &:focus {
    outline: none;
  }
}